*{
    border-color:  rgb(14, 55, 126);
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
    
}
#header {  
    margin: 0 auto; 
    padding: 5px;
    background-color: rgb(60, 124, 236);
    color: white;
    text-align: center;
}
#city-search{
    height: 26px;
    margin: 5px auto;
    width: 100%;
    border-radius: 5px;
}
.search-button{
    padding: 4px 4px;
    font-size: 15px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid rgb(60, 124, 236);
    transition-duration: 0.4s;

}
button{
    padding: 4px 4px;
    font-size: 15px;
    margin: 5px auto;
    top: 50%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid  rgb(60, 124, 236);
    transition-duration: 0.4s;

}
.search-button{
    padding: 4px 4px;
    font-size: 15px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid rgb(60, 124, 236);
    transition-duration: 0.4s;

}
button:hover {
    background-color: rgb(2, 212, 121);
    color: white;
  }
button:active {
    transition-duration: 0.1s;
    background-color: blue;
}
/* displays under the search input */
#error-message{
    padding: 4px 4px;
    font-size: 15px;
    margin: 5px auto;
    top: 50%;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid rgb(2, 107, 212);
    transition-duration: 0.4s;
}

#search-container {
    flex-basis: 40%;
    min-width: 20%;
    max-width: 40;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    padding: 10px;

}
#city-info{
    font-size: 20px;
    flex-basis: 50%;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    padding: 5px;
}

#forecast-container{
    font-size: 25px;
    top: 35%; left: 34.5%;
    display: flex;
    border-radius: 10px;
    padding: 5px;
}
/* fpr the 5 day forecasts */
#forecast{
    margin: 5px 5px;
    background-color: rgb(60, 124, 236);
}