*{
    border-color: red;
    margin: 0;
    padding: 0;
}

#header {  
    margin: 0 auto; 
    padding: 5px;
    background-color: rgb(60, 60, 236);
    color: white;
    text-align: center;
}

#search-container {
    width: 40%;
    border-style: double;
    border-width: 15px;
    border-radius: 20px;
    padding: 5px;
    border-color:blue;

}

